<h1>Bem vindo <%= current_user.nome %></h1>
<p>Escolha uma das opções abaixo e comece a trabalhar:</p><br/><br/>

<div style="text-align:center;">
<%= link_to image_tag("users.png", :size => "80x80", :title => 'Controle de Usuários'), users_path %><br/>
Controle de Usuários
</div>