<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar sua senha, e você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Mudar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não pediu isso, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma novo</p>
